/* Round subgraph corners */
.cluster rect {
  rx: 14;
  ry: 14;
}

svg foreignObject div {
  display: table !important;
  width: 100%;
  height: 100%;
}

span.nodeLabel {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
